@model StandBy.Web.DTOs.ClienteDTO;
@{
    ViewData["Title"] = "Eitar" + Model.Nome;
    Layout = "_Layout_Loged";
}
<h1 class="text-center">Editar Produto @Model.Nome</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" runat=server>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="CpfCnpj" class="form-control mb-2 cpfcnpj" ></input>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control bg-gray-200 border border-gray-300 text-gray-900 rounded-lg pl-4 mb-4"></input>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCnpj" class="control-label"></label>
                <input asp-for="CpfCnpj" class="form-control mb-2 cpfcnpj" disabled></input>
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <input type="radio" id="Ativo" name="Ativo" value="true" asp-for="Ativo">Ativo
                   <input type="radio" id="Ativo" name="Ativo" value="false" asp-for="Ativo">Inativo
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('.cpfcnpj').mask('00.000.000/0000-00', { reverse: true });
           
        });
       

    </script>
}
