<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StandBy.Web</title>    
    <link rel="stylesheet" href="~/StandBy.Web.styles.css" asp-append-ver@*
          *@sion="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<script src="https://cdn.tailwindcss.com"></script>*@
</head>
<body class="h-screen">
    
    <div class="h-full my-auto">
        
        <main class="h-full items-center" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    body{
        background-color: #00a878;
    }
</style>
