<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StandBy.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StandBy.Web.styles.css" asp-append-version="true" />  
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.scss" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    

</head>
<body>
    <section class=" grid grid-template-areas">

   
    <div class="logo  ">

            <h1 class="logo-text ">StandBy</h1>
            
    </div>
    <div class="menu d-flex justify-content-end">
        
            
                <partial name="_LoginPartial" class="ms-auto"/>
           
        
    </div>   
    
     <div class="sidebar  ">           
             <ul class="">
                 
                 <li>
            <a asp-controller="Clientes" asp-action="Index" class=" text-[21px] flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-100">
               <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-green-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
               <span class="flex-1 ml-3 whitespace-nowrap text-gray-900">Clientes</span>
            </a>
         </li>
                 <li>
            <a asp-controller="Produtos" asp-action="Index" class="   text-[21px] flex items-center p-2 text-gray-900  transition duration-300 ease-linear rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-100 ">
               <i class="fa-sharp fa-solid fa-shop text-gray-400"></i>
               <span class="flex-1 ml-3 whitespace-nowrap text-gray-900">Produtos</span>
               
            </a>
         </li>
                 <li>
            <a asp-controller="Pedidos" asp-action="Index" class=" text-[21px] flex items-center p-2 text-gray-900  transition duration-300 ease-linear rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-100">
              <i class="fa fa-list text-gray-400"></i>
               <span class="flex-1 ml-3 whitespace-nowrap text-gray-900  ">Pedidos</span>
               
            </a>
         </li>
         <li>
                    <a href="#" class=" text-[21px] flex items-center p-2 text-gray-900  transition duration-300 ease-linear rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-100">
                     <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                     <span class="flex-1 ml-3 whitespace-nowrap text-gray-900">Relatórios</span>
@*                     <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300 text-1xl">EmBreve</span>
*@                  </a>
                </li>
            </ul>
    </div> 
    <div class="content overflow-visible">        
            @RenderBody()        
    </div>
    

    <footer class="footer d-flex justify-content-end me-4">
        
            <span>&copy; 2023 - StandBy.App - Projeto teste Jhonatan Landes</span>
      
    </footer>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin.min.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

