@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="h-100">
@if (SignInManager.IsSignedIn(User))
{
    <li class="">
        <a  class="text-light me-3 fw-bolder mt-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="text-light me-3 fw-bolder mt-2">
        <form  class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="">Logout</button>
        </form>
    </li>
}
else
{

    <div class="d-flex  fw-bolder  h-100 ">

    
    
        <a class="text-light me-3 fw-bolder mt-2 " asp-area="Identity" asp-page="/Account/Register">Register</a>
    
    
        <a class="text-light me-3 fw-bolder mt-2 " asp-area="Identity" asp-page="/Account/Login">Login</a>
    
    </div>
}
</ul>
