
@model StandBy.Web.DTOs.UsuarioLogin;

@{
   
}



    


<div class="container " style="height:100vh">
    <div class="col d-flex justify-content-center" style="height:100%">
  <vc:Summary></vc:Summary>
        
  <form  method="post"  asp-action="Login"
                  class="card w-50 mx-50  ">
  
   <h2 class="text-center">StandBy</h2>
    <h2 class="text-center">Crie uma nova conta.</h2>

    <div class="form-outline-mb-4">
      <label class="" for="username">
        E-mail
      </label>
            <input
            class=" border-1 " id="username" type="text" placeholder="Username"
            asp-for="Email" class="control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com">
            <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-outline-mb-4">
      <label class="" for="password">
        Senha
      </label>
      <input      
      asp-for="Password" class="" autocomplete="new-password" aria-required="true" placeholder="Senha" 
       class="" id="password" type="password" placeholder="******************">
      
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="flex items-center justify-between">
      <button 
      id="registerSubmit" 
      class="btn btn-primary" type="submit">
        Entrar
      </button>
      <a 
       
       asp-action="Registro" asp-controller="Autenticacao"
      class= "" >
        Ainda não tem uma conta?
      </a>
    </div>
  </form>
       

</div>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
<style>
    .centralizar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>





