@model StandBy.Web.DTOs.UsuarioLogin;

@{

}


<vc:Summary></vc:Summary>
<div class="login-area">

  <form method="post" asp-action="Login" class=" ">

    <h2 class="text-center">StandBy</h2>
    <p class="text-center">Entre com seus dados</p>

    <div class="form-group">
      <label class="form-label" for="username">
        E-mail
      </label>
      <input class="form-control" id="username" type="text" placeholder="Username" asp-for="Email" class="control"
        autocomplete="username" aria-required="true" placeholder="nome@exemplo.com">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label class="form-label" for="password">
        Senha
      </label>
      <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true"
        placeholder="Senha" class="" id="password" type="password" placeholder="******************">

      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-center mt-4">
      <button id="registerSubmit" class="btn btn-primary text-center " type="submit">
        Entrar
      </button>
      <a asp-action="Registro" asp-controller="Autenticacao" class="d-block text-center">
        Ainda não tem uma conta?
      </a>
    </div>
  </form>
</div>












@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
<style>
  h2 {
    color: gray;
  }
</style>





