
@model StandBy.Web.DTOs.UsuarioRegistro;
@{
    
}



<div class="container ">

    <div class="col d-flex justify-content-center">
    <vc:Summary></vc:Summary>
  <form  method="post" asp-action="Registro"
          class="card w-50">

        <h2 class="text-3xl  text-center">StandBy</h2>
    <h2 class="text-1xl  text-center">Crie uma nova conta.</h2>
    <div class="mb-4">
      <label class="" for="username">
        E-mail
      </label>
            <input
            class=" border-1 " id="username" type="text" placeholder="Username"
            asp-for="Email" class="control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com">
            <span asp-validation-for="Email" class="text-danger"></span>
    </div>

<div class="mb-6">
      <label class="" for="password">
        Senha
      </label>
      <input
      asp-for="Password" class="" autocomplete="new-password" aria-required="true" placeholder="Senha" 
       class="" id="password" type="password" placeholder="******************">      
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <div class="mb-6">
      <label class="" for="password">
        Confirme a senha:
      </label>
      <input
            asp-for="ConfirmPassword" class="" autocomplete="new-password" aria-required="true" placeholder="Confirme a Senha" 
                    class="" id="password" type="password" placeholder="******************">     
                 <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>




    <div class="flex items-center justify-between">
      <button 
      id="registerSubmit" 
      class="btn btn-primary" type="submit">
        Salvar
      </button>
      <a 
       asp-controller="Autenticacao" asp-action="Login"
      class="" >
        Já tem uma conta?
      </a>
    </div>
  </form>
    </div>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script></script>
}
