/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body[b-5nsv5j3r36] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
.grid[b-5nsv5j3r36] {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  overflow-y: auto;
}

.logo[b-5nsv5j3r36] {
  grid-area: logo;
  background-color: #00a878;
}
.menu[b-5nsv5j3r36] {
  grid-area: menu;
  background-color: #00a878;
  box-shadow: 0.35rem 0.25rem 0.25rem rgba(51, 51, 51, 8);
}

.content[b-5nsv5j3r36] {
  grid-area: content;
  padding: 20px;
  overflow-y: auto;
}

.sidebar[b-5nsv5j3r36] {
  grid-area: sidebar;
  background-color: #d8dfdb;
  box-shadow: 0.25rem 0.05rem 0.25rem rgba(51, 51, 51, 8);
}
.footer[b-5nsv5j3r36] {
  grid-area: footer;

  background: rgba(51, 51, 51, 0.2);
}
.grid-template-areas[b-5nsv5j3r36] {
  grid-template-columns: 15% 85%;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    "logo menu"
    "sidebar content "
    "sidebar footer ";
}

button.accept-policy[b-5nsv5j3r36] {
  font-size: 1rem;
  line-height: inherit;
}
