@model StandBy.Web.DTOs.PedidoItemDTO;
@{
    ViewData["Title"] = "Eitar" ;
    Layout = "_Layout_Loged";
}
<h1 class="text-center">Editar Produto </h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


           
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
