html {
  font-size: 14px;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo-text {
  font-size: 38px;
  font-weight: 800;
  margin-left: 15%;
  color: white;
}
